.indicators {
  &__container {
    position: absolute;
    z-index: 101;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: $INDICATORS_GAP;

  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $COLOR_WHITE;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $COLOR_GRAY;
  }
}

.active {
  background-color: $COLOR_PRIMARY_CONTRAST;
  &:hover {
    background-color: $COLOR_PRIMARY_CONTRAST;
  }
}