$FONT_MD: 16px;
$FONT_SM: 14px;
$FONT_LG: 18px;
$NAV_GAP: 40px;
$INDICATORS_GAP: 20px;

$SIZE_LOGO: 90px;
$SLIDE_HEIGHT: 600px;
$SLIDE_WIDTH: 1200px;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$FONT_FAMILY: 'JetBrains Mono', monospace;

